#content-list
{
    padding: 10px;
    text-align: center;
}

#content-list i 
{
    color: white;
    font-size: 25px;
}

#content-list #elements
{
    list-style-type: none;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

#content-list #elements img
{
    width: 30vw;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.5s;
}

#content-list #elements img:hover
{
    box-shadow: 0 0 10px white;
}

@media only screen and (max-device-width: 700px) and (min-device-width: 500px)
{
    #content-list i 
    {
        font-size: 22px;
    }
}

@media only screen and (max-device-width: 500px)
{
    #content-list i 
    {
        font-size: 18px;
    }
}