body
{
    background-color: #0d1321;
    margin: 0;
    /*background-image: url("images/background1.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;*/
    
}

body::after
{
    content: "";
    filter: blur(5px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/background1.jpg");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

/*body::after
{
    content: "";
    filter: blur(5px);
    background-image: url("images/background1.jpg");
    background-size: cover;
    /*background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}*/